@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.부모 {
    position: relative;
    left: 200px;
    top: 200px;
    margin-top: 100px;
    margin-left: 100px;
    background-color: lavender;
    width: 1000px;
    background-image: url(https://manual.notch.one/0.9.23/en/docs/nodes/generators/grid/img/node-generators-grid-img.jpg);
    background-size: cover;
    margin-bottom: 3000px;
}

.부모 .자식 {
    height: 200px;
    width: 200px;
}

/*  -position: startic 은 기본값
    -position: relative 는 자기 자리를 기억함 (주위에 아무런 영향을 주지않음) 
    -position: absolute 는 부모가 포지션이 있을시 부모를 따라가고 포지션을 가진상위요소(부모)가 없을 시 body 를 따라감
    -position: fixed 는 상위요소(부모)가 아닌 화면을 따라감 */

.부모 .첫째 {
    background-color: #EA5656;
    position: relative; 
    left: 200px;
    
}

.부모 .둘째 {
    background-color: #31BCCC;
    position: absolute;
    left: 50px;
    top: 0px;
}

.부모 .셋째 {
    background-color: #79D70F;
    position: static;
}

.부모 .넷째{
    background-color: #F77FEE;
    position: fixed;
    right: 0;
    top: 200px;
}